@use '@styles/variables';

.footer {
  position: absolute;
  bottom: 8px;
  width: calc(100% - variables.$main_margin * 2);
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  color: var(--foreground);
  &_logo {
    height: 24px;
    width: auto;
    path {
      stroke: var(--foreground);
    }
    &:hover {
      path {
        stroke: var(--hover_text);
      }
    }
  }
  &_link {
    color: var(--foreground);
    text-decoration: none;
    &:hover {
      color: var(--hover_text);
    }
  }
}
