@use '@styles/variables';

.footer {
  width: 100%;
  max-width: variables.$max_width;
  height: 5vh;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  color: var(--foreground);
  &_logo {
    height: 24px;
    width: auto;
    path {
      stroke: var(--foreground);
    }
    &:hover {
      path {
        stroke: var(--hover_text);
      }
    }
  }
  &_link {
    color: var(--foreground);
    text-decoration: none;
    &:hover {
      color: var(--hover_text);
    }
  }
}
